<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <p><%= devise_error_messages! %></p>

  <div><p><%= f.label :email %></p>
  <%= f.email_field :email, :autofocus => true %></div>
   <br>

  <div><p><%= f.submit "Resend confirmation instructions" %></p></div>
<% end %>

<p><%= render "devise/shared/links" %></p>
