<p id="notice"><%= notice %></p>

<p>
  <strong>Activity name:</strong>
  <%= @blog.activity_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blog.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', blogs_path %>
