<body id="start">
<p id="notice"><%= notice %></p>


 <h2> <%= @blog.activity_name %></h2>


<p>
  <%= @blog.date %>
</p>

<p>
  <%= @blog.description %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', blogs_path %>
