<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
 <p> <%= devise_error_messages! %></p>
  <%= f.hidden_field :reset_password_token %>

  <div><p><%= f.label :password, "New password" %></p>
  <%= f.password_field :password, :autofocus => true %></div>
<br />
  <div><p><%= f.label :password_confirmation, "Confirm new password" %></p>
  <%= f.password_field :password_confirmation %></div>
<br />
  <div><p><%= f.submit "Change my password" %></p></div>
<% end %>

<p><%= render "devise/shared/links" %></p>
