<h2>Sign in</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
    :method => :POST) do |f| %>
  <div><p><%= f.label :email %></p>
  <%= f.email_field :email, :autofocus => true %></div>
<br>
  <div><p><%= f.label :password %></p>
  <%= f.password_field :password %></div>
<br>
  <% if devise_mapping.rememberable? -%>
    <div><p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p></div>
  <% end -%>

  <div><p><%= f.submit "Sign in" %></p></div>
<% end %>

<p><%= render "devise/shared/links" %><p>
