<!DOCTYPE html>
<html>
<head>
  <title>Sclogs - Discover Super-Curricular</title>
  <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

<%= favicon_link_tag 'favicon.jpg' %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
  <ul class="nav navbar-nav">
    <li class="navfont"><a href="/" id="nav-home">Home</a></li>
    <li class="navfont"><a href="/start" id="nav-start">Your Sclog</a></li>
    <li class="navfont"><a href="/ideas" id="nav-ideas">Sclog Inspiration</a></li>
    <li class="navfont"><a href="/blogs" id="nav-blog">Sclog Blog</a></li>
  </ul>
</div>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
